*.mat
*.txt
*.log
test_sim_*/
modules/__pycache__/
run*.sh
lines*.sh
debug*.ipynb
debug*.py
test_sim/
debug/
modules/cpsim_mistakes_in_sim_need_X_prev.py
modules/sim_func_maybe_wrong.py
ts_kill_all_jobs.sh
check_missing_output_files.py
